extends layout

block header
  .row
    .span4
      h1 USER: #{user.vimeo.display_name}
      img(src="#{user.vimeo.portraits.portrait[3]._content}")
  
block content
  .row
    .span12
      - for video in user.videos
        - var url = encodeURIComponent(video.title); url = url.replace(/%20/g, "_")
        a(href="/#{user.user_name}/#{url}")
          img(src="#{video.thumbnails.thumbnail[1]._content}")
          h4= video.title
          p= video.upload_date

block footer
  script 
    //REMOVE BECAUSE YOU'RE EXPOSING THE USER OBJECT!!!
    var user = !{JSON.stringify(user)}
    console.log(user)
      
        

