extends layout

block header
  .row
    .span4
      h1 USER: #{user.vimeo.display_name}
      img(src="#{user.vimeo.portraits.portrait[3]._content}")
  
block content
  .row
    .span8
      iframe(src="http://player.vimeo.com/video/#{video.id}", width="640", height="480", frameborder="0", webkitAllowFullScreen, mozallowfullscreen, allowFullScreen)
      p= video.description
block footer
  script 
    //REMOVE BECAUSE YOU'RE EXPOSING THE USER OBJECT!!!
    var user = !{JSON.stringify(user)}
    console.log(user)

      
        

